@import './fonts.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$primary: #e91b60;
$secondary: #d81be9;
$success: #4caf50;
$info: #1b60e9;
$warning: #1b1b1b;
$danger: #e91b2c;
$light: #fbd9e4;
$dark: #2f0513;

$btn-primary-color: $white;
$font-family-base: 'Roboto', sans-serif;
$headings-font-family: 'Roboto', sans-serif;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);

@import '~bootstrap/scss/bootstrap';